<!DOCTYPE html>

<%- include('partials/_header') -%>

<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw15vj8GtnDwrNlPYL13TxsxT1a4eRO82oSo2iXjl-bc-5DO5vSTliXaEW0ccgZBXYITg&usqp=CAU" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->


<!--end of signup form popup-->

<!-- BEGIN | Header -->

	    
	    <!-- top search form -->
	    <div class="top-search">
	    </div>
	</div>
</header>
<!-- END | Header -->

<div class="slider movie-items">
	<div class="container">
		<div class="row">
		
			
			<div class="container" id="login-content">
				<div class="login-content">

					<a href="#" class="tm-contact-form"></a>
					<h3>Login</h3>
					<form method="post" action="/login">
						<div class="row">
							 <label for="email">
								Email:
								<input type="text" name="email" id="email" placeholder=""  required="required" />
							</label>
						</div>
					   
						<div class="row">
							<label for="password">
								Password:
								<input type="password" name="password" id="password" placeholder="******"  required="required" />
							</label>
						</div>
					<br>
					   <div class="row">
							<button type="submit">Login</button>
					   </div>
					</form>
					<br>
					<div class="row">
						
						<p><span>	Or via social</span></p>
						<div class="social-btn-2">
							<a class="fb" href="login/facebook"><i class="ion-social-facebook"></i>Facebook</a>
							<a class="tw" href="login/google"><i class="ion-social-google">Google</i></a>
						</div>
					</div>
				</div>
		
	

			</div>

			
	    	<div class="slick-multiItemSlider">
	    		<div class="movie-item">
	    				>
	    			</div>
	    			</div>



	    		</div>

	    	</div>
	    </div>
	</div>
</div>

		
<%- include('partials/_footer') -%>
<!-- end of footer section-->

<script src="../js/jquery.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/plugins2.js"></script>
<script src="../js/custom.js"></script>
</body>

<!-- index14:58-->
</html>
