<!DOCTYPE html>

<%- include('partials/_header') -%>

<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw15vj8GtnDwrNlPYL13TxsxT1a4eRO82oSo2iXjl-bc-5DO5vSTliXaEW0ccgZBXYITg&usqp=CAU" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>


	    
	    <!-- top search form -->
	    <div class="top-search">
	    </div>
	</div>
</header>
<!-- END | Header -->

<div class="slider movie-items">
	<div class="container">
		<div class="row">
		





			<div class="container"  id="signup-content">
				<div class="login-content">
					<a href="#" class="tm-contact-form"></a>
					
					<h3>sign up</h3>
					<form method="POST" action="/register">
						<div class="row">
							 <label for="username-2">
								Username:
								<input type="text" name="username" id="username-2" placeholder="" required="required" />
							</label>
						</div>
					   
						<div class="row">
							<label for="email-2">
								your email:
								<input type="text" name="email" id="email-2" placeholder="" required="required" />
							</label>
						</div>
						 <div class="row">
							<label for="password-2">
								Password:
								<input type="password" name="password" id="password-2" placeholder=""  required="required" minlength='6'/>
							</label>
						</div>
						 <div class="row">
							<label for="repassword-2">
								Confirm Password:
								<input type="password" name="confirmpassword" id="repassword-2" placeholder=""  required="required" minlength="6"/>
							</label>
						</div>
					   <div class="row">
						 <button type="submit">sign up</button>
					   </div>
					</form>
				</div>
			</div>




			</div>
	    	<div  class="slick-multiItemSlider">
	    		<div class="movie-item">
	    			>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Sci-fi</a></span>
	    				</div>
	    			
	    			</div>
	    		</div>

	    	</div>
	    </div>
	</div>
</div>

<%- include('partials/_footer') -%>
				   
<!-- end of footer section-->

<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>

<!-- index14:58-->
</html>
