<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="#"><img class="logo" src="https://media-exp1.licdn.com/dms/image/C560BAQE5KUlAuXNtFQ/company-logo_200_200/0/1584049391513?e=2159024400&v=beta&t=aSMxP9UU00UiNzWnP5INeLxkDKRxPgEEs2VdiOV4hSE" alt=""></a>

			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="https://www.linkedin.com/in/bariscembektas/">About</a></li> 
					
	
		</div>
	</div>
	
</footer>